/* Estilos para o formulário de adicionar casa */

#house-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

#house-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

#house-form input[type="text"],
#house-form input[type="number"],
#house-form textarea,
#house-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#house-form button[type="submit"] {
    background-color: #eb7600;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#house-form button[type="submit"]:hover {
    background-color: #ff8c00;
}
